/* TOP NAV BAR */

.nav {
    background-color: #8C4227;
    width: 98%;
    color: #ffffff;
    padding-left: 2.5%;
    font-family: Tahoma;
    float: left;
    clear: both;
    height: 55px;
    display: flex;
}

@media only screen and (max-width: 767px) {
    .nav {
        width: 97.5%;
    }
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    float: right;
}

li {
    float: left;
}

li a {
    display: block;
    color: D9D8D7;
    text-align: right;
    padding: 18px 26px;
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}

a.active {
    /* background-color: #D9D8D7;*/
    color: #000000;
}

li a:hover {
    background-color: #D9D8D7;
    color: #000000;
}


/* Main body of the page */

.mainBody {
    background-color: #ffffff;
    width: 97%;
    height: 700px;
    padding: 1.5%;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}


/* Main body of the "Browse" page is slightly different*/

.browseBody {
    background-color: #D9D8D7;
    width: 97%;
    height: auto;
    padding: 1.5%;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .browseBody {
        padding-top: 25px;
    }
}


/* Where the cars will be displayed in the browse body */

#display {
    background-color: #D9D8D7;
    width: 97%;
    height: auto;
    padding: 1.5%;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


/*The welcome text in the Main body*/

#welcome {
    padding-top: 0.5%;
    margin-top: 2.5%;
    margin-bottom: 1%;
    margin-left: 5%;
    width: 90%;
    height: 180px;
    float: left;
    font-size: 1em;
    background-color: #f3f0f0;
    text-align: center;
    border-radius: 2.5%;
    clear: both;
}

#pix {
    margin-left: 5%;
    margin-top: 5%;
    width: 50%;
    height: 350px;
    float: left;
    background-image: url(IMG1.jpeg);
}

@media only screen and (max-width: 767px) {
    #pix {
        width: 95%;
        margin-top: 2%;
    }
}

#pix:hover {
    -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.65);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.65);
}

@media only screen and (max-width: 767px) {
    #welcome {
        width: 95%;
    }
}


/* The signUp/signIn area styles */

#signIn {
    margin-left: 5%;
    margin-top: 5%;
    width: 40%;
    height: 350px;
    float: left;
    border-radius: 5%;
    z-index: 2;
}

#signUp {
    margin-left: 25%;
    background-color: rgba(140, 66, 39, 0.473);
    width: 45%;
    height: 470px;
    float: left;
    color: #000000;
    padding-left: 0.5%;
    margin-top: 1.5%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5%;
    z-index: 2;
    box-shadow: 10px 10px 10px 10px grey;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    #signUp {
        width: 95%;
        height: 450px;
        margin-left: 2.5%;
    }
}

@media only screen and (max-width: 767px) {
    #signIn {
        width: 95%;
        height: 370px;
        background-color: #ffffff;
    }
}

#signIn:hover,
#signUp:hover {
    z-index: 3;
    -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.65);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.65);
}

#signInTable {
    text-align: center;
    margin-top: 15%;
    width: 100%;
    overflow-x: scroll;
}

#signUpTable {
    text-align: auto;
    margin-top: 2%;
    width: 100%;
    overflow-x: auto;
}


/* For all text input style */

#inputs {
    height: 35px;
    width: 80%;
    z-index: 2;
    border: none;
    border-radius: 0;
}

#logInButton:hover,
#registerButton:hover,
#inputs:hover {
    -webkit-box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.65);
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.65);
}

textarea {
    height: 120px;
    width: 80%;
}


/*...BUTTONS...*/

#logInButton {
    height: 35px;
    width: 80%;
    background-color: rgba(140, 66, 39, 0.85);
    color: #ffffff;
    border: none;
    font-size: 1rem;
    border: none;
}

#registerButton {
    height: 35px;
    width: 80%;
    background-color: ffffff;
    border: none;
    font-size: 1rem;
}

#choices {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: baseline;
}

@media only screen and (max-width: 767px) {
    #choices {
        flex-direction: column;
        align-items: flex-start;
    }
}

#choices1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media only screen and (max-width: 767px) {
    #choices1 {
        align-items: flex-start;
    }
}

#row1 {
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 8%;
    margin-left: 2%;
    padding-top: 2%;
}

@media only screen and (max-width: 767px) {
    #row1 {
        width: 80%;
        margin-left: 10%
    }
}

#row2 {
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 15%;
    margin-left: 0%;
    padding-top: 1%;
}

@media only screen and (max-width: 767px) {
    #row2 {
        width: 80%;
        margin-left: 10%;
        padding-top: 0%;
    }
}


/* The footer */

footer {
    background-color: rgba(140, 66, 39, 0.85);
    width: 97%;
    padding: 0.5%;
    color: #D9D8D7;
    padding-left: 2.5%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 30px;
    position: relative;
    float: left;
}